body { font-family: exo_2_regular; font-size: 15px; }
header .navbar .navbar-brand { font-family: exo_2_regular; }

.nowrap { white-space: nowrap; }

table a { color: #428bca; text-decoration: underline; }
table a:hover { color: #013c69; }

.form-control { font-size: 15px; }

.page-header { margin-bottom: 10px; }
.page-header h1 small a { color: #999; text-decoration: underline; }

.table .thin-col { width: 1%; white-space: nowrap; }

.text-right { text-align: right; }

.prices-list td { vertical-align: middle !important; background: #fff; }
.prices-list .icon-resize-vertical { width: 20px; text-align: center; display: inline-block; visibility: hidden; cursor: pointer; color: #aaa; }
.prices-list tr:hover .icon-resize-vertical { visibility: visible; }
.prices-list .icon-resize-vertical:hover { color: #000000; }
.prices-list input[type="text"] { background: none; border: 1px solid transparent; -webkit-box-shadow: none; box-shadow: none; }
.sorting { display: none; }
.sort-arrow { width: 1%; }
tr.warning .spacer, tr.success .spacer { padding-left: 40px; }

input.s-price { min-width: 120px; }

/*.prices-list .icon-resize-vertical { display: none !important; }*/
/*
.prices-list tr:hover input[type="text"], .prices-list tr input[type="text"]:focus {
	background: #fff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: none;
	transition: none;
}
*/
.prices-list tr.edit-mode input[type="text"]
{
	background: #fff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: none;
	transition: none;
}

.prices-list tr.edit-mode .delete-service { visibility: visible; }

.delete-service { visibility: hidden; }
tr:hover .delete-service { visibility: visible; }

.table { margin-bottom: 0; }

.service-tabs { margin: -1px 0 0 -1px; }
.service-tabs .active i { color: #ff9b19; }
.service-tabs .active a { background: #eee !important; }

.price-field { width: 120px; }
.add-service-wrap { padding: 10px; background: #eee; }
.add-service-wrap table { margin: 0; }
.add-service-wrap table td { border: none !important; vertical-align: middle !important; }
.add-service-wrap table td select { height: 34px; }

.prices-table thead th { padding-left: 20px !important; }
.prices-table thead tr.warning th { vertical-align: middle; }

input.error { background: #FFE3E5; }

.base-price { text-align: right; }

/* Requests */
.requests-table { margin-bottom: 0; }
#requests-list tr { cursor: pointer; }
.request-toarchive { visibility: hidden; }
#requests-list tr:hover .request-toarchive { visibility: visible; }

.block-empty { padding: 20px; margin: 0; }
form .row { margin-bottom: 5px; }
.request-text { padding: 0 15px; }

.table-stars { font-size: 10px; }

tr.active td { border-bottom: 1px solid #000; }

.nowrap { white-space: nowrap; }

.prices-table thead { display: none; }

/* Blog */
#post-images-list { padding-left: 15px; }
#post-images-list img { height: 33px; margin-right: 15px; }
.popover.blog-preview { max-width: 528px; }
.popover.blog-preview .popover-content img { max-width: 500px; }
#blog-img-progress { margin: 3px 0 0 0; }
#blog-img-progress {  }

#posts-list tr { cursor: pointer; }
