@font-face {
    font-family: 'pf_dindisplay_prolight';
    src: url('pfdindisplaypro-light-webfont.eot');
    src: url('pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-light-webfont.woff') format('woff'),
         url('pfdindisplaypro-light-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-light-webfont.svg#pf_dindisplay_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_dindisplay_probold';
    src: url('pfdindisplaypro-bold-webfont.eot');
    src: url('pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-bold-webfont.woff') format('woff'),
         url('pfdindisplaypro-bold-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-bold-webfont.svg#pf_dindisplay_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_dindisplay_problack';
    src: url('pfdindisplaypro-black-webfont.eot');
    src: url('pfdindisplaypro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-black-webfont.woff') format('woff'),
         url('pfdindisplaypro-black-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-black-webfont.svg#pf_dindisplay_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_dindisplay_promedium';
    src: url('pfdindisplaypro-med-webfont.eot');
    src: url('pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-med-webfont.woff') format('woff'),
         url('pfdindisplaypro-med-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-med-webfont.svg#pf_dindisplay_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('pfdindisplaypro-reg-webfont.eot');
    src: url('pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-reg-webfont.woff') format('woff'),
         url('pfdindisplaypro-reg-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-reg-webfont.svg#pf_dindisplay_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}