@charset "UTF-8";

* 				{ margin: 0; padding: 0; }
* html .wrapper	{ height: 100%; }
a img 			{ border: none; }
* 				{ list-style-type: none; }
.clear 			{ clear: both; }
*:focus 		{ outline: none; }
header, section, 
footer, aside, 
nav, article, 
div 			{ display: block; }
span 			{ display: inline-block; }

html, body 		{ height: 100%; }
html 			{ min-width: 960px; min-height: 600px; }

h1 			{ font-size: 52px; color: #fff; }
h2 			{ font-size: 48px; color: #563624; font-family: 'pf_dindisplay_probold'; }
h3 			{ font-size: 30px; color: #563624; font-family: 'pf_dindisplay_probold'; }
h4 			{ font-size: 22px; color: #b07760; }
h5			{ font-size: 18px; color: #563624; }
h6			{ font-size: 16px; color: #563624; }
p 			{ font-size: 18px; color: #563624; }
a 			{ font-size: 18px; color: #ffa400; text-decoration: none; }
a:hover 	{ color: #ffbe4a; }
a:visited 	{  }
a.active 	{ color: #ffa400 !important; }

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a {
	font-weight: normal;
    font-style: normal;
    line-height: 1.5;
}

input::-webkit-input-placeholder 		{ font-family: 'pf_dindisplay_proregular'; font-size: 14px; color: #bc9580; } 
input::-moz-placeholder					{ font-family: 'pf_dindisplay_proregular'; font-size: 14px; color: #bc9580; }
textarea::-webkit-input-placeholder 	{ font-family: 'pf_dindisplay_proregular'; font-size: 14px; color: #bc9580; } 
textarea::-moz-placeholder				{ font-family: 'pf_dindisplay_proregular'; font-size: 14px; color: #bc9580; }
input.error::-webkit-input-placeholder 	{ color: #f00; } 
input.error::-moz-placeholder			{ color: #f00; }
input[type="text"],
textarea					{ font-size: 14px; color: #563624; border: 1px solid #b77467; border-radius: 3px; height: 35px; padding: 0 15px; }
input[type="text"]:focus,
textarea:focus 				{ border-color: #ffb329; }
input[type="text"].error 	{ border-color: #f00; }

input[type="radio"] {
	display: none;        
}
input[type="radio"] + label {
	cursor: pointer;
	font-size: 18px;
	color: #563624;
	font-family: 'pf_dindisplay_probold';
}
input[type="radio"] + label::before {
	content: "";
	display: inline-block;
	height: 23px;
	width: 23px;
	background: url("../img/c_check.png") no-repeat;
	margin-right: 23px;
	vertical-align: bottom;
}
input[type="radio"] + label::before {
	background-position: 0 0;    
}
input[type="radio"]:checked + label::before {
	background-position: -25px 0;
}
input[type="radio"]:checked + label {
	color: #ffa400;
}

.crossing {
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}

body {
	background: #fff;
	font-family: 'pf_dindisplay_proregular';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body.active {
	overflow: hidden;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -166px;
}
.bd {
	width: 960px;
	margin: 0 auto;
}
.bd420 {
	width: 420px;
	margin: 40px auto 0 auto;
}
.bd462 {
	width: 462px;
	margin: 0 auto;
}
.block {
	padding: 65px 0;
}
#navTop {
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(35, 39, 50, .8);
	padding: 15px 0;
	z-index: 500;
}
#logo {
	float: left;
	width: 115px;
}
#navTop ul {
	width: 500px;
	float: left;
	margin-top: 8px;
}
#navTop ul li {
	float: left;
	margin-left: 20px;
}
#navTop ul li:first-child {
	margin-left: 110px;
}
#navTop ul li a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	-webkit-transition: background .1s;
	-moz-transition: background .1s;
	-ms-transition: background .1s;
	-o-transition: background .1s;
	transition: background .1s;
}
#navTop ul li a:hover {
	padding: 10px;
	border-radius: 6px;
	background-color: rgba( 255, 255, 255, .102 );
}
#navTop .select {
	width: 238px;
	float: left;
	margin: 0 auto;
}
#navTop .selectbox-call {
	width: 238px;
	border: 0 none;
	margin-top: -8px;
	/*z-index: 900;
	position: absolute;*/
	overflow: hidden;

	-webkit-box-shadow: 0 1px 9px -1px rgba( 0, 0, 0, .2 );
	-moz-box-shadow: 0 1px 9px -1px rgba( 0, 0, 0, .2 );
	box-shadow: 0 1px 9px -1px rgba( 0, 0, 0, .2 );
}
#navTop .selectbox-call ul {
	width: 100%;
	background-color: rgb( 255, 255, 255);
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding-bottom: 20px;

	display: none;
}
#navTop .selectbox-call ul.open {
	height: 100%;
	display: block;
}
#navTop .selectbox-call ul li {
	float: none;
	margin-left: 0;
	padding: 0 20px;
	margin-top: 20px;
}
#navTop .selectbox-call ul li:first-child {
	margin-top: 0;
}
#navTop .selectbox-call ul li .call.active {
	margin-left: -20px;
}
#navTop .selectbox-call ul li p {
	margin-left: 18px;
}
#navTop .selectbox-call ul li.call-back p{
	margin-left: 0;
	font-size: 16px;
}
#navTop .selectbox-call ul li p a {
	color: #ffa400;
	padding-left: 0;
}
.call {
	width: 176px;
	height: 20px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	padding: 10px 10px 10px 0;
	margin-left: 10px;
}
.call.active {
	background-color: rgb( 255, 255, 255 );
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	color: #563624;
	width: 193px;
	text-align: left;
	margin-left: 0;
	padding: 10px 15px 10px 30px;
	cursor: text;
}
.call:before {
	content: '';
	display: inline-block;
	background: url("../img/call-icon.png") no-repeat center left;
	width: 9px;
	height: 12px;
	margin-right: 7px;
}
.call.mailto.active:before {
	background: url("../img/mailto.png") no-repeat center right;
	width: 12px;
	height: 10px;
}
/*#call.call:after {
	content: '';
	display: inline-block;
	background: url("../img/arrow-down.png") no-repeat center right;
	width: 12px;
	height: 8px;
	margin-left: 7px;
	padding-top: 3px;
}
#call.call.active:after {
	background: url("../img/arrow-up.png") no-repeat center right;
	position: absolute;
	right: 20px; top: 14px;
}*/
#arrow-pointer {
	margin-left: -25px;
	display: inline-block;
	cursor: pointer;
}
#arrow-pointer.rotate {
	-moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.call:hover {
  	border-radius: 6px;
  	background-color: rgba( 255, 255, 255, .102 );
  	-webkit-transition: background .1s;
	-moz-transition: background .1s;
	-ms-transition: background .1s;
	-o-transition: background .1s;
	transition: background .1s;
}
.call.active:hover {
	background-color: rgb( 255, 255, 255 );
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.request {
	font-size: 14px;
	line-height: 1.5;
	color: #563624;
	cursor: pointer;
	display: none;
}
.send-request {
	margin-top: 2px;
}
input.phone {
	float: left;
	border: 1px solid #b77467;
	border-radius: 6px;
	width: 112px;
	height: 33px;
	padding: 0 12px;
	font-size: 14px;
	color: #563624;
}
input.phone.error {
	border: 1px solid #f00;
}
button#sendCallback {
	float: right;
	border: 0 none;
	border-radius: 6px;
	background-color: rgb( 255, 164, 0 );
	width: 56px;
	height: 35px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
button#sendCallback:hover {
	background-color: rgb( 255, 190, 74 );
}

#download {
	float: right;
	border-radius: 3px;
	background-color: rgba( 255, 255, 255, .3 );
	width: 92px;
	height: 37px;
	border: 0 none;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	font-family: 'pf_dindisplay_proregular';
	position: relative;
}
#download:hover {
	background-color: rgb( 255, 164, 0 );
}

.preview {
	height: 570px;
	position: relative;
	background: url("../img/bg-video.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#closeBtn {
	border-radius: 3px;
	background-color: rgba( 255, 255, 255, .3 );
	width: 122px;
	height: 37px;
	border: 0 none;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	font-family: 'pf_dindisplay_proregular';
	position: relative;
	float: right;

	display: none;
}
#closeBtn:hover {
	background-color: rgb( 255, 164, 0 );
}
/*#closeBtn i {
	width: auto;
	white-space: nowrap;
	margin-left: 22px;
	font-size: 14px;
	color: #333;
	font-style: normal;
	display: inline-block;
	vertical-align: top;
}*/
#player {
	width: 100%;
	height: 100%;
	background-color: #000;

	display: none;
}
.preview .wrap {
	position: absolute;
	width: 640px;
	margin-top: 110px;
	text-align: center;
}
.preview .wrap h4 {
	color: #fff;
}
.preview .wrap h6 {
	color: #fff;
	font-weight: normal;
}
#playBtn {
	background-color: rgb( 255, 255, 255 );
	width: 90px;
	height: 67px;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	margin: 24px 0 50px 0;
}
#playBtn:hover {
	background-color: rgb( 255, 164, 0 );
}
#playBtn:after {
	content: '';
	display: block;
	background: url('../img/play.png') no-repeat center center;
	width: 94px;
	height: 67px;
}
.btn-submit {
	border-radius: 10px;
	background-color: rgb( 255, 164, 0 );
	width: 321px;
	display: inline-block;
	cursor: pointer;
	padding: 19px 0;
	margin-bottom: 7px;
	text-align: center;
}
.btn-submit.inner {
	width: 379px;
}
.btn-submit.inner.order {
	width: 419px;
	background-color: rgb( 139, 194, 63 );
	margin-top: 52px;
}
.btn-submit.append {
	width: 100%;
	padding: 11px 0;
}
.btn-submit.download {
	width: 241px;
	padding: 14px 0;
}
.btn-submit:hover {
	background-color: rgb( 255, 190, 74 );
}
.btn-submit.inner.order:hover {
	background-color: rgb( 161, 218, 82 );
}
.btn-submit h4,
.btn-submit h5 {
	color: #fff;
}
.btn-submit span {
	font-size: 14px;
	color: #fff;
	display: block;
}
.select-your {
	text-align: center;
}
.select-your .tariffs {
	margin: 45px 0;
}
.select-your .tariffs li {
	width: 300px;
	height: 520px;
	float: left;
	border: 1px solid #e3d2cc;
	border-radius: 10px;
	background-color: rgb( 250, 245, 242 );
	margin-left: 26px;
	cursor: pointer;
	-webkit-transition: all 100ms;
	-moz-transition: all 100ms;
	-ms-transition: all 100ms;
	-o-transition: all 100ms;
	transition: all 100ms;
}
.select-your .tariffs li:hover {
	background-color: rgb( 255, 255, 255 );
	border: 1px solid transparent;
	-webkit-box-shadow: 0 1px 9px -1px rgba( 0, 0, 0, .2 );
	-moz-box-shadow: 0 1px 9px -1px rgba( 0, 0, 0, .2 );
	box-shadow: 0 1px 9px -1px rgba( 0, 0, 0, .2 );
}
.select-your .tariffs li:first-child {
	margin-left: 0;
}
.select-your .tariffs li a {
	padding: 20px 20px 30px 20px;
	width: 260px;
	height: auto;
	display: block;
}
.select-your .tariffs li .more {
	border-radius: 5px;
	background-color: rgb( 120, 126, 129 );
	width: 241px;
	height: 60px;
	padding-top: 8px;
	margin: 0 auto;
	margin-top: 15px;
}
.select-your .tariffs li.pro .more {
	background-color: rgb( 255, 164, 0 );
}
.select-your .tariffs li:hover .more {
	background-color: rgb( 161, 164, 166 );
}
.select-your .tariffs li .more.less {
	height: 42px;
	padding-top: 14px;
	margin-top: 22px;
}
.select-your .tariffs li.pro:hover .more {
	background-color: rgb( 255, 190, 74 );
}
.select-your .tariffs li .more h5 {
	color: #fff;
}
.select-your .tariffs li .more h5 span {
	font-size: 14px;
	color: #fff;
	display: block;
}
.select-your .tariffs li img {
	margin: 26px 0;
}

#compare {
	cursor: pointer;
}
#compare h4 {
	color: #ffa400;
}
.table-price {
	display: none;
	margin: 25px 0 0 0;
}
table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #e3d2cc;
	display: block;
	overflow: hidden;
}
tbody {
	width: -webkit-calc(100% + 2px);
	width: -moz-calc(100% + 2px);
	width: -o-calc(100% + 2px);
	width: calc(100% + 2px);
	height: -webkit-calc(100% + 2px);
	height: -moz-calc(100% + 2px);
	height: -o-calc(100% + 2px);
	height: calc(100% + 2px);
	display: block;
	margin: -1px;
	overflow: hidden;
}
table tr:first-child {
	border: 0 none;
}
table tr td {
	width: 240px;
	border: 1px solid #e3d2cc;
	padding: 25px;
}
table tr td h5 {
	font-family: 'pf_dindisplay_probold';
}
table tr td.no span,
table tr td.yes span {
	background: url("../img/y-n.png") no-repeat;
	width: 22px;
	height: 16px;
	overflow: hidden;
}
table tr td.no span {
	background-position: 0 0;
}
table tr td.yes span {
	background-position: -22px 0;
}
table tr td:first-child {
	text-align: left;
}
.table-price > p {
	text-align: left;
	margin: 15px 0 0 12px;
}
p sup {
	vertical-align: top;
	color: #f00;
	font-size: 12px;
	margin: 0 2px;
}
.table-price p span {
	font-size: 14px;
}

.lt {
	font-family: 'pf_dindisplay_prolight';
	text-transform: uppercase;
}
.pr {
	font-family: 'pf_dindisplay_probold';
	color: #ffa400;
	text-transform: uppercase;
}
.sr {
	font-family: 'pf_dindisplay_probold';
	color: #787e81;
	text-transform: uppercase;
}

.excerpt {
	width: 100%;
	height: 150px;
	overflow: hidden;
	background: url('../img/excerpt.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.excerpt h3 {
	color: #fff;
	text-align: center;
}

.landing-info li {
	margin-top: 115px;
}
.landing-info li:first-child {
	margin-top: 0;
}
.landing-info li span {
	width: 480px;
	margin-top: 15px;
	float: left;
}
.landing-info li span img {
	display: block;
	margin: 0 auto;
}
.landing-info li .landing-info-txt {
	width: 480px;
	float: left;
}
.landing-info li .landing-info-txt.med {
	float: right;
}
.landing-info li .landing-info-txt h4 {
	margin: 15px 0 8px 0;
}

.awards {
	width: 100%;
	height: 310px;
	overflow: hidden;
	position: relative;
	z-index: -1;
	background: url("../img/bg-video.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.awards .wrap {
	position: absolute;
	width: 640px;
	margin-top: 110px;
	text-align: center;
}
.awards h2 {
	color: #fff;
}
.awards h6 {
	margin: 20px 0 16px 0;
	color: #fff;
	font-weight: normal;
}

.tryout {
	width: 321px;
	margin: 40px auto 65px auto;
	text-align: center;
}
.tryout h4 {
	color: #fff;
}
.push { height: 166px; }
.footer {
	height: 116px;
	padding-top: 50px;
	background-color: rgb( 35, 39, 50  );
}
.footer ul li {
	width: 320px;
	float: left;
	text-align: center;
}
.footer ul li:first-child {
	text-align: left;
}
.footer ul li p {
	margin-bottom: 14px;
	color: #fff;
}
.footer ul li:nth-child(3) p {
	color: #ffa400;
	margin-bottom: 7px;
}
.logo-footer {
	background: url("../img/logo-footer.png") no-repeat 0 0;
	width: 81px;
	height: 11px;
	overflow: hidden;
}
.logo-footer:hover {
	background-position: 0 -13px;
}
.select {
	position: relative;
	width: 150px;
	height: 38px;
	margin: 0 78px 0 auto;
}
.select span.input {
	width: 143px;
	height: 18px;
	padding: 10px 0 10px 35px;
	border: 1px solid #b77467;
	border-radius: 3px;
	background: transparent url("../img/arrow-down.png") no-repeat right 14px center;
	text-align: left;
	font-size: 14px;
	font-family: 'pf_dindisplay_proregular';
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.select span.input:hover {
	background: url("../img/arrow-down.png") no-repeat right 14px center rgba( 255, 255, 255, .102 );
}
.select span.input:before {
	content: "";
	display: inline-block;
	background: url("../img/arrow-check.png") no-repeat left center;
	width: 10px;
	height: 8px;
	position: absolute;
	left: 14px;
	top: 16px;
}
.select span.input.active {
	color: #563624;
	background: #fff url("../img/arrow-up.png") no-repeat right 14px center;
	border-bottom: 1px solid #fff;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.select .selectbox {
	position: absolute;
	background-color: rgb( 255, 255, 255 );
	width: 178px;
	/*height: 38px;*/
	border: 1px solid #b77467;
	border-top: 0 none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	cursor: pointer;
	overflow: hidden;
	margin-top: -1px;

	display: none;
}
.select .selectbox ul li {
	text-align: left; 
}
.select .selectbox ul li a {
	font-size: 14px;
	color: #563624;
	padding: 10px 0 9px 35px;
	display: block;
}
.select .selectbox ul li:hover a {
	color: #ffa608;
}

/* Content */
.content {
	padding: 135px 0 80px 0;
	text-align: center;
}
.content.inner {
	text-align: left;
}
.content .specs {
	text-align: left;
	margin-top: 72px;
}
.content .specs li p {
	display: inline-block;
}
.content img.pic-icon {
	margin: 42px 0;
	padding: 0 10px;
	display: inline-block;
	vertical-align: middle;
	cursor: default;
}
.content img.pic-icon.plus {
	padding: 0 40px;
}
.content .specs li:before {
	content: "";
	display: inline-block;
	background: url("../img/list-dash.png") no-repeat center center;
	width: 11px;
	height: 4px;
	vertical-align: middle;
	margin: 0 10px 3px 0;
}
.content .add {
	margin-top: 62px;
	text-align: center;
}
.content .block {
	padding: 65px 0 0 0;
}
.content .table-price {
	display: block;
}
section {
	margin-top: 60px;
}
section:first-child {
	margin-top: 0;
}
.comment, .time {
	display: inline-block;
	margin: 0 15px 20px 0;
	color: #818181;
}
.comment.active {
	color: #ffa400;
}
.pic {
	width: 100%;
	height: 300px;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 20px;
}
.pic.inner {
	width: 100%;
	height: 100%;
}
.pic img {
	position: relative;
	width: 100%;
	height: auto;
	display: block;
}
.pic.inner img {
	max-width: 100%;
	max-height: 100%;
}

.answer li {
	position: relative;
	width: 648px;
	margin: 20px auto 0 auto;
	padding: 25px 65px;
	display: block;
	background-color: rgb( 255, 164, 0 ); 
	border: 1px solid transparent;
	border-radius: 6px;
	color: #fff;
	text-align: left;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.answer li.active {
	background-color: rgb( 255, 255, 255 ); 
	border: 1px solid #ffa400;
}
.answer li:hover {
	background-color: rgb( 255, 190, 74 );
}
.answer li.active:hover {
	background-color: rgb( 255, 255, 255 );
}
.answer li h4 {
	color: #fff;
}
.answer li h4:before {
	content: "";
	display: inline-block;
	background: url("../img/answer.png") no-repeat 0 0;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 25px; top: 33px;
}
.answer li.active h4 {
	color: #ffa400;
}
.answer li.active h4:before {
	background: url("../img/answer.png") no-repeat 0 -15px;
}
.answer li p {
	margin-top: 12px;
	display: none;
}
.content .subscription {
	margin: 72px 0;
}
.subscription .select {
	width: 160px;
	float: left;
	margin: 0 15px;
}
.subscription label {
	float: left;
	font-size: 24px;
	color: #563624;
	margin: 5px 0 0 0;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.subscription .select span.input {
	width: 123px;
	background-color: rgb( 255, 255, 255 );
	color: #563624;
}
.subscription .select .selectbox {
	width: 158px;
}
.form_input {
	text-align: left;
}
.form_input h5 {
	margin-top: 10px;
}
.form_input input {
	margin-top: 8px;
	width: 430px;
	margin-bottom: 10px;
}
.form_input .email2 {
	width: 270px;
}
.email2 + label {
	font-size: 20px;
	color: #563624;
	margin-left: 20px;
}
.error-txt {
	font-size: 14px;
	color: #f00;
	position: absolute;
	margin-top: -6px;

	/*display: none;*/
}
.pay-methods {
	margin-top: 72px;
}
.pay-methods li {
	margin-top: 20px;
}
.pay-methods li p {
	margin: 12px 0 0 47px;
}
textarea {
	width: 430px;
	height: 90px;
	padding: 8px 15px;
	resize: none;
	margin-top: 8px;
}
.list-item {
	margin: 0 -10px 15px -10px;
	width: 480px;
	height: 40px;
}
.list-item label:first-child {
	width: 260px;
	float: left;
}
.list-item label {
	float: right;
}
.list-item label.mtn {
	margin-top: 0; 
}
.list-item label span {
	width: 30px;
	height: 40px;
	overflow: hidden;
	vertical-align: middle;
	margin-right: 10px;
}
.list-item label span > img {
	display: block;
	margin: 0 auto;
}
.select-num {
	width: 90px;
	height: 35px;
	border: 1px solid #b77467;
	border-radius: 3px;
	float: left;
	margin: 0 8px;
}
.select-num input,
.select-num span {
	width: 30px;
	padding: 0; margin: 0;
	text-align: center;
	display: inline-block;
	float: left;
}
.select-num input {
	border: 0 none;
	color: #563624;
}
.select-num span {
	padding: 13px 0;
	cursor: pointer;
}
.select-num span i {
	width: 12px;
	height: 10px;
	overflow: hidden;
	background: url("../img/select-num.png") no-repeat 0 0;
	display: block;
	margin-left: 8px;
}
.select-num span.plus i {
	background: url("../img/select-num.png") no-repeat -13px 0;
}
.total {
	float: right;
	font-size: 24px;
	color: #563624;
}


.tooltip {
	/*width: 182px;*/
	height: 24px;
	background-color: rgb( 120, 126, 129 );
	position: absolute;
	color: #fff;
	border-radius: 6px;
	margin-top: -20px;
	padding: 10px 30px;
	font-size: 18px;

	display: none;
}
.tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(120, 126, 129, 0);
	border-top-color: #787e81;
	border-width: 12px;
	margin-left: -12px;
}

/* Download */
#navTop.nav-download #download {
	display: none;
}
#navTop.nav-download .select {
	float: right;
}
#navTop.nav-download #menu {
	position: absolute;
	left: 50%;
	margin-left: -280px;
}